.tag {
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 15px;
  background-color: rgb(211, 211, 211);
  color: black;
  text-decoration: none;
}
.tag_selected{
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 15px;
  background-color: gray;
  color: black;
  text-decoration: none;
}
.image_tag{
  color: rgb(159, 158, 158);
  font-size: 20px;
}