.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 40px;
}

.input_wrap {
  display: flex;
  flex-direction: column;
}

.input {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--conversation-color);
  padding: 16px 0 16px 32px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.button {
  width: 332px;
  height: 50px;
  border: none;
  background-color: var(--active-color);
  color: var(--background-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.link_wrap {
  display: flex;
  margin-top: 28px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 4px;
  color: var(--placeholder-color);
}
