.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_wrap {
  display: flex;
  flex-direction: column;
}

.input {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--sign-input-color);
  padding: 16px 0 16px 32px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.link_wrap {
  display: flex;
  margin-top: 28px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 4px;
  color: var(--placeholder-color);
}
