.container {
  color: var(--text-gray-color);
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.arrow {
  display: flex;
  position: relative;
  left: 5px;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
  transition: all 0.5s;
}
.arrow_hide {
  display: flex;
  position: relative;
  left: 0px;
  vertical-align: middle;
  opacity: 0;
}
