.user_default {
  display: flex;
  align-items: center;
  margin-left: 36px;
  margin-top: 36px;
}

.profile {
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100px;
}

.user_info {
  margin-left: 16px;
}

.user_name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.user_school {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 4px;
  color: var(--placeholder-color);
}

.tel_wrap {
  padding: 24px 36px 24px 36px;
  display: flex;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 24px 36px 0 36px;
  justify-content: space-between;
  align-items: center;
}

.tel {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 4px;
  color: var(--placeholder-color);
}

.user_tel {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 4px;
  color: var(--active-color);
}

.class {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 36px;
  margin-left: 36px;
  color: var(--active-color);
}
