.container {
  height: 90px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.content {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-top: 4px;
}
