.evaluate {
    padding: 30px 36px 30px 36px;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--active-color);
  }
  
  .student_info {
    display: flex;
    align-items: center;
  }
  
  .date{
    color: var(--text-gray-color);
  }
  
  .name {
    font-size: 30px;
    font-weight: 500;
  }
  