@import url("https://webfontworld.github.io/sunn/SUIT.css");

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: "SUIT";
}

:root {
  --background-color: #fafafa;
  --primary-color: #fff;
  --placeholder-color: #707070;
  --button-color: #000;
  --sign-input-color: #ededed;
  --sign-button-color: #ededed;
  --class-enter-button-color: #ededed;
  --warning-color: #f75d5d;
  --text-black-color: #000;
  --text-gray-color: #707070;
  --shadow-color: #707070;
  --navbar-border-color: #ededed;
  --navbar-scroll-color: #ededed;
  --navbar-toggle-color: #777777;
  --navbar-hover-color: #ededed;
  --manual-tag-color: #d3d3d3;
  --manual-tag-hover-color: #777777;

}
