@import url("https://webfontworld.github.io/sunn/SUIT.css");

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: "SUIT";
}

:root {
  --background-color: #fafafa;
  --primary-color: #fff;
  --placeholder-color: #707070;
  --button-color: #000;
  --input-color: #ededed;
  --sign-button-color: #ededed;
  --warning-color: #f75d5d;
}
