.user {
  background-color: var(--primary-color);
  border-radius: 30px;
  display: flex;
  padding: 12px 36px 12px 36px;
  align-items: center;
}

.profile {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  aspect-ratio: 1/1;
  margin-right: 16px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 72px);
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.wrap {
  display: flex;
  align-items: center;
}

.input {
  padding: 20px 0px 20px 36px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  background-color: var(--primary-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
}

.enter {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--enter-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.arrow {
  width: 20px;
  height: 20px;
}
