.user {
  background-color: var(--primary-color);
  border-radius: 30px;
  display: flex;
  padding: 12px 36px 12px 36px;
  align-items: center;
}

.profile {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  aspect-ratio: 1/1;
  margin-right: 16px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.wrap {
  width: calc(100% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 102px;
  position: absolute;
}

.input {
  padding: 20px 0px 20px 36px;
  box-sizing: border-box;
  width: calc(100% - 112px);
  border-radius: 20px;
  background-color: var(--primary-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
}

.enter {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--enter-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 20px;
  height: 20px;
}

@media (max-width: 820px) {
  .input {
    padding: 20px 0px 20px 36px;
    box-sizing: border-box;
    width: calc(100% - 80px);
    border-radius: 20px;
    background-color: var(--primary-color);
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
  }

  .wrap {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 102px;
    position: fixed;
  }
}
