.header {
  display: flex;
  align-items: center;
}

.add {
  width: calc(100% - 72px);
  display: flex;
  margin: 36px;
  padding: 16px 0 16px 0;
  background-color: var(--active-color);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color);
  justify-content: center;
  border-radius: 70px;
  margin-bottom: 36px;
}
