.content {
    width: 90%;
    font-size: 20px;
    padding: 20px 20px;
    font-weight: 600;
    margin: 50px 0px;
    background-color: rgb(222, 235, 253);
    border-radius: 30px;
    align-items: center;
    color: var(--button-color);
  }