.all_class {
}

.class_wrap {
}

.class_add {
  display: flex;
  background-color: var(--active-color);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin: 36px 36px 0 36px;
  padding: 16px 0 16px 0;
  justify-content: center;
  border-radius: 70px;
  margin-bottom: 36px;
}
