.content{
    display: flex;
    width: 90%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: var(--primary-color);
    border-radius: 10px;
    align-items: center;
    color: var(--button-color);
    text-decoration: none;
}
.title{
    width: 70%;
}
.tag{
    display: flex;
    width: 30%;
    justify-content: flex-end;
}